*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/profile1.png);
    background-size: cover;
    background-position: center;
}
@keyframes typing {
    0% {
    width: 0%;
    visibility: hidden;
    }
    100% {
    width: 38%;
    }
}

@keyframes blink {
    50% {
    border-color: transparent;
    }
    100% {
    border-color: white;
    }
}
.animate{
    animation: typing 5s steps(20) infinite alternate, blink 1s infinite;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid white;
    overflow: hidden;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    
    
}
.r{
    color: rgb(169, 31, 227);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.2s;
}
nav ul li a:hover{
    font-size: 19px;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(169, 31, 227);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    
}
.headertext{
    margin-top: 20%;
    font-size: 30px;
}
.header h1{
    font-size: 60px;
    margin-top: 20px;
}

#name{
    color: rgb(169, 31, 227);
}
/* ------------about-------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.abouttitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(169, 31, 227);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-link.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: rgb(165, 66, 181);
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* Updated Experience Section Styling */
.experience-list > li { 
    margin-bottom: 30px; 
    border-left: 3px solid rgb(169, 31, 227);
    padding-left: 20px;
    position: relative;
}

.experience-list .role {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: rgb(169, 31, 227);
    margin-bottom: 4px;
}

.company-info {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.date-info {
    font-size: 13px;
    color: #ababab;
    margin-bottom: 12px;
    font-style: italic;
}

#experience .job-description li, #education .job-description li, #skills .job-description li {
    list-style-type: disc;
    font-size: 14px;
    margin: 5px 0 5px 18px;
    color: #dedede;
    line-height: 1.5;
}

/* ---------------service-------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom: 15px;
}
.services-list div a{
    font-size: 12px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.services-list div:hover{
    background: rgb(169, 31, 227);
    transform: translateY(-10px);
}
/* ----------------------------portfolio-------------------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    height: 0%;
    width: 100%;
    border-radius: 10px;
    background:linear-gradient(rgba(0,0,0,0.6),#9424ef) ;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #9424ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    border-radius: 50%;
    background: #fff;
    height: 60px;
    width: 60px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 60px auto;
    border-radius: 6px;
    width: fit-content;
    border:1px solid rgb(169, 31, 227);
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background: #9424ef;
}
/* --------------------contact------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
    color: rgb(169, 31, 227);
}
.social-accounts{

    margin-top: 30px;
}
.social-accounts a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s,transform 0.5s;
}
.social-accounts a:hover {
    color: rgb(169, 31, 227);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: rgb(169, 31, 227);
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 4px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: rgb(169, 31, 227);
}
/* ----------------------css for sm --------------------- */

nav .fas{
   display: none;
}
@media only screen and (max-width:600px){
#header{
    background-image: url(images/phone-gg.png);
}
.headertext{
    margin-top: 100%;
    font-size: 16px;
}
.header h1{
font-size: 30px;
}
nav .fas{
    display: block;
    font-size: 25px;
}
nav ul{
    background: rgb(169, 31, 227);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-title{
    font-size: 40px;
}
.about-col-1,.about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.active-link{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left,.contact-right{
    flex-basis: 100%;
}
.copyright{
    font-size: 15px;
}
}
#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}